/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

.categoryDiv {
  background-color: antiquewhite;
  border: solid black 10px;
  width: 40%;
  padding: 30px 30px;
  margin: 20px;
}

.category-img {
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}

img {
  width: 50%;
  height: 50%;
}

.courseDiv {
  width: 60%;
  display: block;
  margin: 50px auto;
}

.middle {
  text-align: center;
}

button {
  padding: 15px;
  border-radius: 8px;
  color: mediumseagreen;
  display: block;
  margin: auto;
}

.notfound {
  display: block;
  margin: auto;
}

.notfound h2 {
  text-align: center;
}

/*=============== VARIABLES CSS ===============*/
:root {
  --hue-color: 171;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 64%, 22%);
  --first-color-second: hsl(var(--hue-color), 64%, 22%);
  --first-color-alt: hsl(var(--hue-color), 64%, 15%);
  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

  /*========== Font and typography ==========*/
  --body-font: "Open Sans", sans-serif;
  --title-font: "Raleway", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margin Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Hover overlay ==========*/
  --img-transition: 0.3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);

  /*========== Height ==========*/
  --pagination-height: 3.125rem;
}

/*=============== BASIC ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input::placeholder {
  color: var(--text-color);
}

input:focus {
  border: none;
  outline: none;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2.5rem;
}

.container {
  max-width: 968px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1-5);
}

.section-subtitle {
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--body-color);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px hsla(var(--hue-color), 61%, 16%, 0.1);
}

.button:hover {
  background-color: var(--text-color);
  color: var(--body-color);
  box-shadow: 0 16px 24px hsla(var(--hue-color), 61%, 16%, 0.35);
}

/*=============== NAVBAR ===============*/
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--first-color);
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
}

/*=============== COURSE CARDS ===============*/
.card {
  position: relative;
  background-color: var(--container-color);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px hsla(var(--hue-color), 61%, 16%, 0.1);
  padding: 0.75rem;
  transition: var(--img-transition);
}

.card:hover {
  box-shadow: 0 16px 24px hsla(var(--hue-color), 61%, 16%, 0.15);
}

.card__course-image-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
}

.card__course-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  display: block;
  transition: 0.1s linear;
  box-shadow: 0 16px 24px hsla(var(--hue-color), 61%, 16%, 0.15);
}

.card__course-content {
  white-space: nowrap;
  flex: 1;
  min-width: 1px;
  position: relative;
}

.card__course-title {
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: var(--img-hidden);
  text-overflow: ellipsis;
  white-space: normal;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-0-5);
  margin-top: var(--mb-1);
}

.card__course-description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: var(--img-hidden);
  text-overflow: ellipsis;
  white-space: normal;
  font-weight: var(--font-semi-bold);
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-5);
}

.card__course-instructor {
  color: var(--text-color);
  overflow: var(--img-hidden);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
  font-size: var(--small-font-size);
}

.card__course-star-rating-wrapper {
  display: inline-flex;
  align-items: center;
  margin-bottom: var(--mb-0-5);
}

.card__course-star-rating-number {
  margin-right: var(--mb-0-5);
  font-size: var(--small-font-size);
  color: hsl(45, 85%, 40%);
}

.card__course-star-rating .fa-star {
  color: hsl(51, 95%, 54%);
  font-size: calc(var(--small-font-size) * 0.8);
}

.card__course-card-reviews-number {
  margin-left: var(--mb-0-5);
  color: var(--text-color);
  font-size: calc(var(--small-font-size) * 0.9);
}

.card__course-price {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.card__course-button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 0.625rem 0.813rem;
  border-radius: 0.5rem 0 0.5rem 0;
  box-shadow: 0 -2px 4px hsla(var(--hue-color), 61%, 16%, 0.15);
}

/*=============== PAGINATION ===============*/
.pagination ul {
  display: flex;
  color: var(--text-color);
  padding: 0.5rem;
  margin: auto;
}

.pagination ul li {
  text-align: center;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 2px 4px hsla(var(--hue-color), 61%, 16%, 0.1);
}

.pagination ul li.pagination__button-prev,
.pagination ul li.pagination__button-next {
  padding: 0 1.25rem;
}

.pagination ul li.pagination__button-prev {
  border-radius: 1.5625rem 0.3125rem 0.3125rem 1.5625rem;
}

.pagination ul li.pagination__button-next {
  border-radius: 0.3125rem 1.5625rem 1.5625rem 0.3125rem;
}

.pagination ul li.pagination__page-dots,
.pagination ul li.pagination__page-number,
.pagination ul li input {
  border-radius: 50%;
}

.pagination ul li.pagination__page-number {
  margin: 0 0.3125rem;
}

.pagination ul li.pagination__page-dots {
  font-size: var(--h2-font-size);
}

.pagination ul li.pagination__page-number.active,
.pagination ul li.pagination__page-dots:hover,
.pagination ul li.pagination__page-number:hover,
.pagination ul li.pagination__button-prev:hover,
.pagination ul li.pagination__button-next:hover {
  background: var(--first-color);
  color: var(--white-color);
  box-shadow: 0 16px 24px hsla(var(--hue-color), 61%, 16%, 0.35);
}

/*=============== TESTIMONIAL ===============*/

@keyframes spin {
  0% {
    transform: rotate(0deg) translate(0);
  }
  100% {
    transform: rotate(360deg) translate(0);
  }
}

/*=============== SUBSCRIBE ===============*/
.subscribe__bg {
  background-color: var(--first-color-second);
  padding: 2.5rem 0;
}

.subscribe__container {
  border-radius: var(--mb-0-5);
}

.subscribe__title,
.subscribe__description {
  color: var(--white-color);
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.subscribe__form {
  background-color: var(--input-color);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-radius: var(--mb-0-5);
}

.subscribe__input {
  width: 70%;
  padding-right: 0.5rem;
  background-color: var(--input-color);
  color: var(--text-color);
  border: none;
}

.subscribe__input::placeholder {
  color: var(--text-color);
}

.subscribe__button {
  background: var(--first-color);
  color: var(--body-color);
  border-radius: var(--mb-0-5);
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 10px 10px hsla(var(--hue-color), 0%, 0%, 0.4);
}

.subscribe__button-disabled {
  box-shadow: inset -2px -2px 8px hsla(var(--hue-color), 8%, 60%, 0),
    inset -2px -2px 12px hsla(var(--hue-color), 8%, 60%, 0.5),
    inset 2px 2px 4px hsla(var(--hue-color), 8%, 60%, 0.9),
    inset 2px 2px 8px hsla(var(--hue-color), 8%, 0%, 0.15);
  transition: all 0.5s ease;
  background: var(--input-color);
  color: var(--text-color);
  border: 1px solid hsla(var(--hue-color), 24%, 35%, 0.1);
  cursor: none;
  pointer-events: none;
}

/*=============== SPONSORS ===============*/
.sponsor__container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  justify-items: center;
  row-gap: 3.5rem;
}

.sponsor__content:hover .sponsor__img {
  filter: invert(0.5);
}

.sponsor__img {
  width: 90px;
  filter: invert(0.7);
  transition: var(--img-transition);
}

/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 5rem;
}

.footer__content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__title,
.footer__subtitle {
  font-size: var(--h3-font-size);
}

.footer__title {
  margin-bottom: var(--mb-0-5);
}

.footer__description {
  margin-bottom: var(--mb-2);
}

.footer__social {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-0-25);
  box-shadow: 0 2px 4px hsla(var(--hue-color), 61%, 16%, 0.1);
  padding: 0.75rem;
}

.footer__social:hover {
  color: var(--text-color);
  box-shadow: 0 16px 24px hsla(var(--hue-color), 61%, 16%, 0.15);
}

.footer__subtitle {
  margin-bottom: var(--mb-1);
}

.footer__data ul {
  padding-left: 0;
}

.footer__item {
  margin-bottom: var(--mb-0-75);
}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__rights {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  text-align: center;
}

.footer__copy,
.footer__terms-link {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.footer__terms {
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
}

.footer__terms-link:hover {
  color: var(--text-color);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (min-width: 340px) {
  .course__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 0.85fr));
    justify-content: center;
    margin-bottom: var(--mb-3);
    margin-top: var(--mb-3);
  }

  .pagination:nth-of-type(1) {
    display: flex;
    margin-top: var(--mb-2);
  }

  .pagination ul li {
    line-height: calc(var(--pagination-height) * 0.7);
  }

  .pagination ul li.pagination__page-dots,
  .pagination ul li.pagination__page-number,
  .pagination ul li input {
    height: calc(var(--pagination-height) * 0.7);
    width: calc(var(--pagination-height) * 0.7);
  }

  .pagination__page-number.mobile,
  .pagination__button-prev-word,
  .pagination__button-next-word {
    display: none;
  }
}

/* For medium screen size */
@media screen and (min-width: 568px) {
  .course__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 0.5fr));
  }

  .subscribe__form {
    width: 470px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 8rem;
  }

  .course__container {
    margin: var(--mb-3) 12px;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 0.35fr));
  }

  .pagination ul li {
    line-height: var(--pagination-height);
  }

  .pagination ul li.pagination__page-dots,
  .pagination ul li.pagination__page-number,
  .pagination ul li input {
    height: var(--pagination-height);
    width: var(--pagination-height);
  }

  .pagination__page-number.mobile,
  .pagination__button-prev-word,
  .pagination__button-next-word {
    display: inline-block;
  }

  .subscribe__bg {
    background: none;
    padding: 0;
  }
  .subscribe__container {
    background-color: var(--first-color-second);
    padding: 3.5rem 0;
  }
  .subscribe__input {
    padding: 0 0.5rem;
  }

  .footer__rights {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__social {
    margin-right: var(--mb-0-75);
  }
}

/* For large screen size */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .pagination:nth-of-type(1) {
    display: none;
  }

  .footer__content {
    justify-items: center;
  }

  .footer__social {
    margin-right: var(--mb-0-5);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
