* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.not-found-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #cdaeac url(../images/p404.png);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 312px;
  background: hsla(0, 0%, 100%, 0.25);
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  backdrop-filter: blur(5px);
  padding: 5px;
  border-radius: 5px;
  box-shadow: -1.6px 1.6px 6.6px rgba(0, 0, 0, 0.2);
}

.cell {
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  background: hsla(0, 0%, 100%, 0.25);
  cursor: pointer;
  text-align: center;
  line-height: 90px;
  font-size: 40px;
  color: #dedede;
  text-shadow: 0 0.5px 0 #ccc, 0 1px 0 #ccc, 0 1.5px 0 #ccc, 0 2px 0 #ccc,
    0 2.5px 0 #ccc, 0 3px 0 transparent, 0 3.5px 0 transparent,
    0 4px 0 transparent, 0 4.5px 0 transparent, 0 5px 5px rgba(0, 0, 0, 0.4);
}
